header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid red;
    border-bottom: 3px solid red;
    
}

li{
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}

h1{
    font-family: cursive;
    margin-left: 2%;
}


  .imgBanner {
    position: relative;
  }
  
  .imgBanner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/public/Web-Banner-Cat-Rep.jpg");
    background-size: 20%;
    opacity: 0.1;
    z-index: -1;
  }